// Palette
$primary-color: rgb(191, 60, 0);

// Media Query Sizes
$phone:  40.000em;
$tablet: 48.000em;

// Navbar
$navbar-background: rgb(255, 255, 255);

// Typography
$link-color:       rgba(14, 13, 12, 0.6);;
$link-color-hover: rgba(14, 13, 12, 0.8);;

// Transition
$speed:  200ms;
$easing: ease-in-out;