// Palette
$primary-color: rgb(191, 60, 0);

// Navbar
$navbar-background: rgb(255, 255, 255);

// Typography
$link-color:       rgba(29, 29, 29, 0.6);
$link-color-hover: rgba(0, 0, 0, 1);

// Transition
$speed:  200ms;
$easing: ease-in-out;