.grid {

  display: flex;

  &.row {
    flex-direction: row;

    @include media-query(Phone) {
      flex-direction: column;
    }
  }

  &.column {
    flex-direction: column;
  }

  > .item {
    margin-right: 1em;

    width: 33%;

    @include media-query(Phone) {
      margin: 0;

      width: 100%;
    }

    &:last-child {
      margin: 0;
    }
  }

}