.navbar {
  background: $navbar-background;

  @include box-shadow;

  > .container {

    display:         flex;
    justify-content: space-between;

    a {
      margin: 0.5em 1.5em;

      color: $link-color;

      &:hover {
        color: $link-color-hover;
      }
    }

    .main-links {

    }

    .hire {
      > a {
        padding: 0.5em 1.5em;
        margin:  0;

        color:            rgb(255, 255, 255);
        background-color: rgba($primary-color, 0.8);

        transition: background-color $speed $easing;

        &:hover {
          background-color: rgba($primary-color, 1);
        }
      }
    }
  }
}