footer {
  
  color: rgba(255, 255, 255, 1);
  background-color: $primary-color;
  
  > .container {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    
    border-top: 2px solid rgba(191,60,0, 0.6);
    
    .social {
      display: flex;
      
      .icon {
        display: block;
        
        height: 35px;
        width:  35px;
        
        fill: rgba(255, 255, 255, 0.6);

        transition: fill $speed $easing;
        
        &:hover {
          fill: rgba(255, 255, 255, 1);
        }
      }
    }
  }
}