#header {
  padding:    8em;

  background: $primary-color;

  @include media-query(Tablet) {
    padding: 4em;
  }

  @include media-query(Phone) {
    padding: 1em;
  }

  header {
    display:        flex;
    flex-direction: column;
    align-self:     center;
    align-items:    center;

    color: rgb(255, 255, 255);

    > .welcome {
      display:        flex;
      align-self:     center;
      align-items:    center;

      padding-top: 1em;

      h1 {
        display:        inherit;
        flex-direction: column;
        align-items:    center;

        line-height: 1em;

        @include text-shadow();
      }
    }

    > .social {
      .icon {
        fill:       rgba(255, 255, 255, 0.6);
        transition: fill $speed $easing;

        &:hover {
          text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
          fill:        rgba(255, 255, 255, 1);
        }
      }
    }

    > .resume {
      padding: 0.2em 2em;

      color:  rgba(255, 255, 255, 0.8);
      border: 2px solid rgb(255, 255, 255);

      @include media-query(Phone) {
        padding: 0.1em 1.5em;
      }

      &:hover {
        color:            $link-color;
        background-color: rgb(255, 255, 255);
      }
    }
  }

}