.project-list {

  .project {
    > h3 {
      display:         flex;
      justify-content: space-between;
      align-items:     center;

      border-bottom: 5px solid $primary-color;
    }

    .project-image {
      width:  100%;
      height: 230px;
    }
  }

}