.project-list {
  display:        flex;
  flex-direction: column;

  .project {
    h3 {
      display:         flex;
      justify-content: space-between;
      align-items:     center;

      margin: 1em 0;
    }

    .project-content {
      display: flex;

      padding: 1em;

      color:            rgb(255, 255, 2551);
      background-color: $primary-color;

      @include box-shadow();

      > .project-image {
        width: 300px;
        height:    250px;
      }

      .project-description {
        margin-left: 1em;
      }

    }
  }
}